/* Main views */
body {
    background-color: #ffffff;
}

.main-bg {
    background-color: #ffffff;
}

.card {
    border: none;
    background-color: transparent;
}

/* Images style */

.header-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-top: 180px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#member-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    min-height: 700px;
    min-height: 200px;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, 
                rgb(0 0 0 / 22%) 0px 15px 12px;
}

.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
    object-position: left;
    min-height: 400px;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, 
                rgb(0 0 0 / 22%) 0px 15px 12px;
}


.image-container {
    position: relative;
}

/* text style*/

.author {
    color: rgb(17, 17, 17);
    margin: 4px;
    
} 

p {
    color: rgb(0, 0, 0);
}

h3 {
    color: rgb(0, 0, 0);
}
.post-link {
    text-decoration: none;
    color: #f4f7fa;
}

.post-link > p:hover {
    color: #e8105c;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.nav {
    font-size: 1.2rem;

}

/* Button Styles */

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #000000;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}
/* alert messages */
#msg {
    position: absolute;
    z-index: 999;
    background: #dd39dd;
    left: 0px;
}