{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mt-3 mb-4 green-text">Who are we?</h1>

<div class="container text-center text-light">
    <div class="row">
        <div class="col-12 mx-auto mt-3">
            <p>At Your Community Member Page our mission is to give community member a 
                platform to share who they are and what they would like to offer to the community.
            </p>
        </div>
        <div class="col-10 mx-auto mt-3 mb-5">
            <h3 class="green-text">Your Community blog was started by a student.</h3>
            <p></p>
        </div>
    </div>
</div>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 font-weight-bold">If you belong too:</h5>
                    <p>
                        NGBG share who you are as a community member.
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> 
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> 
                    </p>
                    <p>
                        <i class="fas fa-print mr-3"></i> 
                    </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            One of three columns
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            One of three columns
        </div>
    </div>
</div>

{% endblock %}