{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mt-3 mb-4 green-text">Who are we?</h1>

<div class="container text-center text-dark">
    <div class="row">
        <div class="col-12 mx-auto mt-3">
            <h4>At Your Community Blog it is our mission is to give community members a 
                platform to share who they are and what they would like to offer their community.
            </h4>
            <span class="h6">Unlike Social Media. Your Community is locally driven and managed.
                Exclusive to locals within the community located in Malmö, Sweden.
            </span>
        </div>
        <div class="col-10 mx-auto mt-3 mb-5">
            <h3 class="">Your Community Blog is here for you.</h3>
            <p></p>
        </div>
    </div>
</div>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-lg-3 col-xl-2 mx-auto mt-3 text-center font-weight-bold">
            <h5 class="text-uppercase mb-4">If you belong too organisations like:</h5>
                    <p>
                        <a href="https://www.ngbg.se/" target="_blank"
                        rel="noopener" aria-label="NGBG link">NGBG</a>
                    </p>
                    <p>
                        <a href="https://www.planbmalmo.com/" target="_blank"
                        rel="noopener" aria-label="plan b link">Plan B Malmö</a>
                    </p>
                    <p>
                        <a href="https://frontrowtheatre.se/" target="_blank"
                        rel="noopener" aria-label="Front Rowlink">Front Row Theatre</a>
                    </p>
                    <p class="h6">
                        Then we are the platform for you!
                    </p>
        </div>
        <div class="col-md-2 col-lg-3 col-xl-2 mx-auto mt-3 text-center">
            <h5 class="text-uppercase mb-4 font-weight-bold">Contact For more Inforamtion:</h5>
            <p>
                <i class="fas fa-home mr-3"></i> Malmö, Sweden
            </p>
            <p>
                <i class="fas fa-envelope mr-3"></i> ycb@gmail.com
            </p>
            <p>
                <i class="fas fa-phone mr-3"></i> +123456789
            </p>
        </div>
        <div class="col-md-2 col-lg-3 col-xl-2 mx-auto mt-3">
            <h5 class="text-uppercase mb-4">Many Thanks Too:</h5>
            <p> My Mentor- Akshat Garg</p>
            <p>My Partner- Victoria</p>
            <p>Code Institute</p>
        </div>
    </div>
</div>

{% endblock %}