{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col offest-2">
            <!-- User welcome message -->
            {% if user.is_authenticated %}
            <h1 class="text-center mt-2">
                Welcome to Your Community, <span class="black-text">{{ user.username }}</span>!
            </h1>
            <h3 class="text-center"> Create your member page, edit, comment and save.</h3>
            <hr class="text-dark">

            {% else %}
            <h1 class="text-center padding mb-2 mt-3">Welcome Community Member!</h1>
            <h3 class="text-center mb-5">Create your community member page, leave a comment or like a member.
                <a class="link blue-text" href="{% url 'account_signup' %}"> Please Register.<br>
                    </a> If you have an account
                 <a class="link blue-text" href="{% url 'account_login' %}"> Log In</a>.
                </h3>
            <hr class="mt-3 mb-5 text-light">
            {% endif %}
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for member in member_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in member.featured_image.url %}
                                <img class="card-img-top" src="/static/media/site_images/defaultimage .jpeg">
                                {% else %}
                                <a href="{% url 'member_detail' member.slug %}">
                                    <img class="card-img-top" src=" {{ member.featured_image.url }}">
                                </a>
                                {% endif %}
                            </div>
                            <a href="{% url 'member_detail' member.slug %}" class="post-link">
                                <p class="h6"> Member: {{ member.author }}</p>
                                <p class="card-role h6">Your Role: {{ member.role }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-primary h6">{{ member.created_on}} <i class="far fa-heart"></i>
                                {{ member.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <div class="row mt-4">
        {% if is_paginated %}
        <nav aria-label="Page Navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}" class="page_link green-text">&laquo;
                        PREV</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}" class="page_link green-text">NEXT &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{% endblock %}